body{
   background-color: #efefef;
    background-image: url("/images/bg.jpg");
}
.main{
    background-color: white;
    margin: 30px;
}
.bth-publish{
    float: right;
    margin-bottom: 15px;
}
.question-title{
    margin-top: 25px;
}.question-tag{
    margin-right: 5px;
}
 .question-related{
     line-height: 20px;
     font-size: 12px;
     margin-left: 0;
     list-style: none;
     padding-left: 0;
 }
 .question-weChat{
     width: 100%;
 }
 .publish-tag-tab{
     display: none;
     margin-top: 10px;
     padding-top: 10px;
 }
 .publish-tag-tab .label-info{
     white-space: normal;
     margin: 5px 5px;
     display: inline-block;
 ;
 }
.community-menu{
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}
.jumbotron{
    margin: 50px;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.comment-hr{
    margin-top: 0px;
}
.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.sub-comments{
    border-radius:5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}
.icon{

}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon{
    font-size: 15px;
    cursor: pointer;
}.menu .comment-icon:hover{
     color: #499Ef3;
}
.menu .icon:hover{
    color: #499Ef3;
}
.menu .active{
    color: #499Ef3;
}
.footer{
    text-align:center;
    color: #666;
}

