body{
   background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.bth-publish{
    float: right;
    margin-bottom: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
}

